* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

.container {
    margin: 80px auto;
    max-width: 640px;
    width: 100%;
}

form {
    margin-top: 40px;
}

input, button {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
}

button {
    background-color: #2f82ff;
    border: none;
    text-transform: uppercase;
    color: white;
    font-weight: bold;
    font-size: 18px;
    font-style: italic;
    cursor: pointer;
}
button:hover {
    background-color:#0050c9;
}
.success-message {
    background-color: #01d524;
    padding: 16px;
    width: 100%;
    color: white;
    display: none;
    font-weight: bold;
}
.error-message {
    font-size: 12px;
    padding: 8px;
    background-color: red;
    color: white;
    margin-bottom: 8px;
    display: none;
}